body{
    font-family: arial;
    background: white;
    margin: 0;
    padding: 0px;
}

.topo-pagina{
    margin: 0px;
    height: auto;
    border: 1px solid rgba(181, 179, 179, 0.9);;
    background: rgba(181, 179, 179, 0.9);
    display: block;
    box-sizing: border-box;
    text-align: center;
}

nav{
    margin: auto;
    width: auto;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
    padding-bottom: 10px;
}

.topo-pagina nav li{
    float: left;
    margin: 0;
    text-align: center;
    list-style: none;
    padding-right: 0;
    display: inline-block;
    width: 30%;
}

.topo-pagina nav a{
    color: #3c3c3c;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 3px;
    transition: color 0.2s linear;
    text-align: center;
}

.rodape-pagina{
    margin-top: 50px;
    text-align: center;
    font-family: arial;
    font-size: 8px;
}

.rodape-pagina img{
    width: 30px;
    margin: auto;
}

.bloco_central{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 15px;
}

.bloco_central img{
    width: 30%;
}

.f_quantidade{
    width: 20%;
    height: 25px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
}


.f_senha{
    width: 20%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_nome_chave{
    width: 30%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_nome{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_apelido{
    width: 20%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_email{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_titulo_soma{
    color: rgba(185, 10, 10, 0.9);
    font-size: 15px;
    font-weight: 600;
}

.f_display_projeto{
    width: 70%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

.f_display_usuario{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_display_senha{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_display{
    width: 70%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

.c_butao{
    width: 150px;
    margin: 0px auto 0px;
    text-align: center;
}

.f_butao{
    background: #5a5a52;
    color: white;
    height: 30px;
    text-align: center;
}

.f_butao:hover{
    background: #9a9a6b;
}

.f_lista{
    font-weight: 600;
    font-size: 15px;
}

.f_tabela{
    border-radius: 1em;
    border: 0.5px blue solid;
    border-style: dashed; 
    text-align: left;
    margin-bottom: 10px;
    padding: 5px; 
    width: 100%;
}

.f_col1{
    background: yellow;
    width: 10%;
    box-sizing: border-box;
}

.f_col2{
    background: red;
    box-sizing: border-box;
}

