/* ********************************************** */
/* Pagina Principal                               */
/* ********************************************** */

.topo-pagina{
    position: fixed;
    top: 0;
    left: 0;
    background-color: orange;
    margin: 0;
    height: 100%;
    width: 10%;
    box-sizing: border-box;
    padding-top: 3%;
    font-size: 20px;
}

.menu-principal {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.menu-principal a{
    text-decoration: none;
    color: white;
}

.menu-principal li{
    padding-bottom: 35%;
    text-align: center;
}

.logo img{
    position: fixed;
    right: 1%;
    top: 2%;
    width: 7%;
}

.bloco-principal{
    width: 90%;
    margin: 5% 5% 5% 10%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 400px){
    .bloco-principal{
        width: 90%;
        margin: 5% 5% 5% 10%;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 12px;
    }
    
}


.bloco-principal img{
    width: 50%
}

.bloco-principal h1{
    margin-bottom: 1%;
}


.bloco-principal h2{
    margin-bottom: 4%;
}

    
/* ********************************************** */
/* Botoes e Formulários                           */
/* ********************************************** */

.f_quantidade{
    width: 20%;
    height: 25px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
}


.f_senha{
    width: 20%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_nome_chave{
    width: 30%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_nome{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_apelido{
    width: 20%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_email{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_titulo_soma{
    color: rgba(185, 10, 10, 0.9);
    font-size: 15px;
    font-weight: 600;
}

.f_display_projeto{
    width: 70%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

.f_display_usuario{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_display_senha{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_display{
    width: 70%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

.c_butao{
    width: 150px;
    margin: 0px auto 0px;
    text-align: center;
}

.f_butao{
    background: #717169;
    color: white;
    height: 30px;
    text-align: center;
    border-radius: 1em;
    border: 4px #6d6d6f solid;
    border-style: double; 
}

.f_butao:hover{
    background: #9a9a6b;
}

/* Configuração da listagem de usuarios do Admin */

.f_lista{
    font-weight: 600;
    font-size: 15px;
}

.f_tabela{
    border-radius: 1em;
    border: 0.5px blue solid;
    border-style: dashed; 
    text-align: center;
    margin: auto;
    padding: 5px; 
    width: 70%;
    background: rgb(198, 198, 219);

}

.f_col1{
    text-align: left;
    width: 10%;
    box-sizing: border-box;
}

.f_col2{
    box-sizing: border-box;
    text-align: left;
}


/* ********************************************** */
/* Form Cadastro                                  */
/* ********************************************** */

.form-login{
    width: 90%;
    margin: auto;
    text-align: center;
    display: block;
    box-sizing: border-box;
    font-size: 11px;    
}

.form-cadastro{
    width: 90%;
    margin: auto;
    text-align: left;
    display: block;
    box-sizing: border-box;
    font-size: 11px;
}

.form-cadastro label {
    display: inline-block;
    width: 20%;
    vertical-align: top;    
}

.form-cadastro-nome, .form-cadastro-apelido, .form-cadastro-email, .form-cadastro-conjugue, .form-cadastro-voce, .form-cadastro-familia{
    width: 70%;
    height: 20px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}

.form-cadastro-andar{
    width: 25%;
    height: 20px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;    
}

.form-cadastro-apto{
    width: 10%;
    height: 20px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;    
}

.form-cadastro-foto{
    width: 35%;  
    height: 20px;
    margin-bottom: 2%;
    
}
.form-cadastro-senha{
    width: 25%;  
    height: 20px;
    margin-bottom: 5%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}

.form-cadastro-telefone{
    width: 30%; 
    height: 20px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;    
}

.form-cadastro-nascimento{
    width: 30%; 
    height: 20px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}

.form-radio-parentesco{
    margin-bottom: 2%;
    height: 20px;
}
.form-cadastro-filhos{
    width: 8%; 
    height: 20px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}

.form-cadastro-voce, .form-cadastro-familia{
    height: 50px;
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
}

.form-cadastro-butao{
    margin-left: 40%;
    margin-bottom: 2%;
    display: inline-block;
    background-color: rgba(230, 69, 69, 0.75);
    color: white;
    font-weight: bold;
    width: 25%;
    height: 30px;
    border-radius: 50px 30px;
}

.form-login-butao{
    background-color: rgba(230, 69, 69, 0.75);
    color: white;
    font-weight: bold;
    width: 25%;
    height: 30px;
    border-radius: 50px 30px;
}


.tabela-titulo{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.tabela-titulo a{
    color: black;
}


.tabela-linha-nome{
    text-align: left;
    width: 60%;
}

.tabela-linha-nome a{
    color: #765b5b;
}


.tabela-linha-apelido{
    text-align: left;
}

.tabela-linha-apelido a{
    color: #765b5b;    
}

.form-cadastro-tipo{
    margin-bottom: 2%;
}
/* ********************************************** */
/* Lista Usuarios do Apartamento                  */
/* ********************************************** */

.bloco-tabela-moradores{
    margin: auto;
    width: 90%;
    box-sizing: border-box;
}

.tabela-moradores{
    border: 1px solid grey;
    padding: 2%;
    margin: auto auto 2% auto;
    width: 80%;
    text-align: left;
    background-color: rgb(235, 225, 225);
    border-radius: 10px;
}

.tabela-coluna-nome{
    text-align: left;    
    width: 50%;    
}

.tabela-coluna-nome a{
    color: #765b5b;     
}

.tabela-coluna-tipo{
    text-align: left;    
    width: 20%;
}

.tabela-coluna-tipo a{
    color: #765b5b;     
}


.tabela-moradores:hover{
    background-color: aliceblue;
}

.tabela-moradores a{
    text-decoration: none;
}

.tabela-moradores a:hover{
    color: darkgreen;
}

/* ********************************************** */
/* Enquete                  */
/* ********************************************** */


.bloco-resultado-a, .bloco-resultado-b, .bloco-enquete-a, .bloco-enquete-b, .bloco-enquete-c{
    display: inline-block;
}

.bloco-enquete-a{
    width: 80%;
    text-align: left;
}

.bloco-enquete-b a{
    text-decoration: none;
    color: inherit;
}

.bloco-enquete-b{
    width: 10%;
    text-decoration: none;
    color: darkolivegreen;
}

.bloco-enquete-c a{
    text-decoration: none;
    color: inherit;
}

.bloco-enquete-c{
    width: 5%;
    color: dodgerblue;
}

.bloco-resultado{
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(229, 228, 228, 0.3);
    margin: 15px auto;
    width: 80%;
    height: auto;
    padding: 10px 10px;
    display: block;
}    

.bloco-resultado-a{
    font-weight: bolder;
    width: 40%;
    text-align: left;
    display: inline-block;
}


.bloco-resultado-b{
    font-weight: bold;
    width: 5%;
    text-align: left;
    display: inline-block;
}

.bloco-p1{
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(229, 228, 228, 0.3);
    margin: 10px auto;
    width: 95%;
    height: auto;
    padding: 0px 15px 15px 15px;
    box-sizing: border-box;
}    


.bloco-p1-morador{
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(229, 228, 228, 0.3);
    margin: 10px auto;
    width: 95%;
    height: auto;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
}    


.bloco-p1 a{
    text-decoration: none;
    color: inherit;    
}
    
.bloco-p2{
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(229, 228, 228, 0.3);
    margin: 10px auto;
    width: 95%;
    height: auto;
    padding: 0px 15px 5px 15px;
    box-sizing: border-box;
}    

.bt-enquete{
    display: block;
    margin: 15px auto;
    background: #717169;
    color: white;
    height: 30px;
    text-align: center;
    border-radius: 1em;
    border: 4px #6d6d6f solid;
    border-style: double;     
}

.bloco-mural-a{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    text-align: left;
    color: black;
}

.bloco-mural-b{
    width: 60%;
    height: auto;
    display: inline-block;
    text-align: left;
    float: left;
    font-size: 11px;
    color: darkcyan;
}

.bloco-mural-c{
    width: 40%;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;
    text-align: right;
    font-size: 11px;
    color: darkcyan;
}

.bloco-r-visita-a{
    width: 55%;
}

.bloco-r-visita-b{
    width: 30%;
}

.agenda-admin-linha-a{
    background: #12125c;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: left;
    padding: 5px 5px 5px 10px;
    color: aliceblue;
    border-radius: 5px;
    margin: 0px;
}

.agenda-admin-linha-b{
    text-align: left;
    width: 55%;
    display: inline-block;
    margin: auto;
    float: left;
    padding: 5px 0px 10px 10px;
}

.agenda-admin-linha-c{
    display: inline-block;
    width: 40%;
    padding: 5px 0px 10px 0px;
    text-align: left;
}

.f-titulo-morador-a{
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}

.f-titulo-morador-b{
    font-weight: 600;
    font-size: 16px;    
}

.f-img-morador img{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:50%;
}

.f-morador-sobre{
    background: #cecdcd;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 10px 2px 10px;
    margin: 0px;
}

.f-nome-morador{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.f-proprietario-morador{
    margin: 0px;
    font-style: italic;
}

.f-bloco-newlogin{
    text-align: center;
    margin-bottom: 15px;
}

.f-login-apto{
    width: 10%;  
    height: 20px;
    margin-top: auto;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;    
}

.f-login-senha{
    width: 30%;  
    height: 20px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    border: .5px solid gray;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;    
}

.f-especial {
    font-size: 20px;
    color: cornflowerblue;
}

.f-enquete-bloco-opcao{
    width: 80%;
    margin: auto;
    text-align: left;
}
.f-enquete-opcao{
    display: inline-block;
    width: 80%;
    padding: 5px;
    text-align: left;
}

.c-titulo-forum{
    background: #cecdcd;
    display: block;
    width: 30%;
    margin: 20px auto;
    border-radius: 3px;
    padding: 2px 0px 2px 0px;
}

.form-comentar-enquete{
    background: #717169;
    color: white;
    height: 30px;
    text-align: center;
    border-radius: 1em;
    border: 4px #6d6d6f solid;
    border-style: double; 
    margin-bottom: 20px
}

.form-comentar-enquete:hover{
    background: #9a9a6b;
}


.f-fe-morador{
    background: #ddddde;
    text-align: left;
    margin: 0;
}

.f-fe-comentario{
    text-align: left;
    margin: 2px 0px 20px 0px;
}

.f-add-com-enquete{
    display: inline-block;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 20px 0px;
    width: 85%;
    height: 100px;
}