body{
    font-family: arial;
    background: white;
    margin: 0;
    padding: 0px;
}

.tabela-menu{
    background: rgb(203, 203, 209);
    margin: auto;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.menu-left{
    width: 20%;
    text-align: left;
    padding-left: 5%;
    color: white;
    text-decoration: none;
}

.menu-central{
    width: 55%;
    text-align: center;
    text-decoration: none;
}

.menu-central a{
    padding-right: 5%;
    letter-spacing: 1px;
    display: inline;
    text-decoration: none;
    color: rgb(93, 91, 91);
}

.menu-right{
    width: 20%;
    text-align: right;
    padding-right: 5%;
    text-decoration: none;
}

.menu-login{
    color: rgb(29, 119, 29);
    text-decoration: none;
}

.menu-logout{
    color: rgb(204, 93, 93);
    text-decoration: none;
}

.topo-pagina{
    margin: 0px;
    height: auto;
    border: 1px solid rgba(181, 179, 179, 0.9);;
    background: rgba(181, 179, 179, 0.9);
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.rodape-pagina{
    margin-top: 50px;
    text-align: center;
    font-family: arial;
    font-size: 8px;
}

.rodape-pagina img{
    width: 30px;
    margin: auto;
}

.bloco_central{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    font-family: arial;
    font-size: 15px;
}

.bloco_central img{
    width: 30%;
}

.f_quantidade{
    width: 20%;
    height: 25px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
}


.f_senha{
    width: 20%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_nome_chave{
    width: 30%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_nome{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_apelido{
    width: 20%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_email{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_titulo_soma{
    color: rgba(185, 10, 10, 0.9);
    font-size: 15px;
    font-weight: 600;
}

.f_display_projeto{
    width: 70%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

.f_display_usuario{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_display_senha{
    width: 40%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.f_display{
    width: 70%;
    height: 35px;
    border: 1px solid blue;
    border-radius: 1em;
    font-size: 14px;
    text-align: right;
    margin-bottom: 20px;
}

.c_butao{
    width: 150px;
    margin: 0px auto 0px;
    text-align: center;
}

.f_butao{
    background: #5a5a52;
    color: white;
    height: 30px;
    text-align: center;
}

.f_butao:hover{
    background: #9a9a6b;
}

.f_lista{
    font-weight: 600;
    font-size: 15px;
}

.f_tabela{
    border-radius: 1em;
    border: 0.5px blue solid;
    border-style: dashed; 
    text-align: left;
    margin: 10px 0px 10px 0px;
    padding: 5px; 
    width: 100%;
    background: rgb(198, 198, 219);

}

.f_col1{
    text-align: left;
    width: 10%;
    box-sizing: border-box;
}

.f_col2{
    box-sizing: border-box;
    text-align: left;
}

