{% extends "base.html" %}
{% from "show_menu.html" import show_menu %}

{% block show_menu %}
    {{ show_menu(user) }}
{% endblock %}

{% block principal %}
    <form action="/" method="POST" class="f_form">
    <div>
        <select class= "f_display_projeto" id="v_id_projeto" name="v_id_projeto">
            {% for item in r_lista_projetos %}
            <option class="f_display" value={{item.id_projeto}}> {{ item.display_projeto }} </option>             
            {% endfor %}
        </select>                                  
    </div>
    <div>
        <input type="text" id="v_pagador" name="v_pagador" placeholder="digite usuário" class="f_display_usuario" />
    </div>

    <div>
        <input type="text" id="v_senha" name="v_senha" placeholder="digite a senha" class="f_display_senha" />
    </div>                          

    <div class="c_butao">
        <br>
        <button type="submit" class="f_butao"> OK </button>
    </div>
    </form>  
{% endblock %}