{% extends "base.html" %}
{% from "show_menu.html" import show_menu %}

{% block show_menu %}
    {{ show_menu(user) }}
{% endblock %}

{% block principal %}
    <div class="card_lista">
        <br>
        <p class="f_titulo_soma"> No periodo bebemos {{ r_soma_periodo['soma'] }} e no total {{ r_soma_total['soma'] }} cafés</p>
    </div>

    <div class="card_lista">
        <p class="f_lista"> Nesse mês, temos a seguinte distribuição:</p>
            {% for item in r_distribuicao_mes %}
            {{ item.display }} ja pagou {{item.quantidade}} cafés <br>
            {% endfor %}
    </div>      
    <div class="card_lista">
        <p class="f_lista"> Nesse total, temos a seguinte distribuição:</p>
            {% for item in r_distribuicao_total %}
            {{ item.display }} ja pagou {{item.quantidade}} cafés <br>
            {% endfor %}
    </div>                   
{% endblock %}
