<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">

    <head>
        <title> One9 Group </title>
        <meta charset="utf-8">
        <meta name="author" content="Fabio Tavares">
        <meta name="description" content="Pagina de Aplicativos Fabio Tavares">
        <meta name="keywords" content="html5, tecnologia">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cafe.css') }}">
    </head>

    <body>
            <header class="topo-pagina">
                <nav>
                    <ul>
                        {% if not user %}
                            <li><a href="/">Login</a></li>
                        {% endif %}
                        <li><a href="/cafe_inserir">Tomou?</a></li>
                        <li><a href="/cafe_lista">Quem?</a></li>
                        {% if user %}
                            <li><a href="/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
                
            </header>

            <main class="bloco_central">
                                
                  <section class="principal_cafe">

                      <form action="/" method="POST" class="f_form">
                        <div>
                            <select class= "f_display_projeto" id="v_id_projeto" name="v_id_projeto">
                                {% for item in r_lista_projetos %}
                                <option class="f_display" value={{item.id_projeto}}> {{ item.display_projeto }} </option>             
                                {% endfor %}
                            </select>                                  
                        </div>
                        <div>
                            <input type="text" id="v_pagador" name="v_pagador" placeholder="digite usuário" class="f_display_usuario" />
                        </div>
                          
                        <div>
                            <input type="text" id="v_senha" name="v_senha" placeholder="digite a senha" class="f_display_senha" />
                        </div>                          
                          
                        <div class="c_butao">
                            <br>
                            <button type="submit" class="f_butao"> OK </button>
                        </div>
                    </form>  
                      
                </section>                    
                
            </main>

            
            <footer class="rodape-pagina">
                <div> 
                    <p><img src="../static/images/one9.webp" /></p>
                </div>
            </footer>
        
    </body>
</html>
