{% extends "base.html" %}
{% from "show_menu.html" import show_menu %}

{% block show_menu %}
    {{ show_menu(user,admin) }}
{% endblock %}

{% block principal %}
    <p> Seja Bem-Vindo Grupo: {{v_nome_apelido}} </p>
    <section class="principal_cafe">
    <img src="../static/images/logo_cafe.jpg" />
    <form action="/cafe" method="POST" class="f_form">
        <div>
            <select class= "f_display" id="v_cpf" name="v_cpf">
                {% for item in r_lista_pagador %}
                <option class="f_display" value={{item.cpf}}>{{ item.display }}</option>
                {% endfor %}
            </select>                                  
        </div>
        <div>
            <input type="number" id="v_quantidade" name="v_quantidade" class="f_quantidade" min="1" max= "10" value="1" />
        </div>
        <div class="c_butao">
            <br>
            <button type="submit" class="f_butao"> PAGAR </button>
        </div>
    </form>  
    </section>                    
{% endblock %}

