{% extends "base.html" %}
{% from "show_menu.html" import show_menu %}

{% block show_menu %}
    {{ show_menu(user) }}
{% endblock %}

{% block principal %}
    <form action="/cafe_add_user" method="POST">    
        <div>
            <label for="v_nome"> Nome: </label>
            <input type="text" id="v_nome" name="v_nome" class="f_nome" placeholder="digite seu nome" />
        </div>

        <div>
            <label for="v_email"> E-Mail: </label>
            <input type="email" id="v_email" name="v_email" class="f_email" placeholder="digite seu email"/> 
        </div>

        <div>
            <label for="v_apelido"> Apelido: </label>
            <input type="text" id="v_apelido" name="v_apelido" class="f_apelido" placeholder="Apelido será o usuário"/> 
        </div>

        <div>
            <label for="v_senha"> Senha: </label>
            <input type="password" id="v_senha" name="v_senha" class="f_senha" placeholder="digite sua senha"/> 
        </div>

        <div class="c_butao">
            <button type="submit" class="f_butao"> Cadastrar </button>          
        </div>
    </form>
{% endblock %}
