<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">

    <head>
        <title> One9 Group </title>
        <meta charset="utf-8">
        <meta name="author" content="Fabio Tavares">
        <meta name="description" content="Pagina de Aplicativos Fabio Tavares">
        <meta name="keywords" content="html5, tecnologia">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cafe.css') }}">
    </head>

    <body>
            <header class="topo-pagina">
                <nav>
                        {% if not user %}
                            <li><a href="/">Login</a></li>
                        {% endif %}
                        <li><a href="/cafe_inserir">Tomou?</a></li>
                        <li><a href="/cafe_lista">Quem?</a></li>
                        {% if user %}
                            <li><a href="/logout">Logout</a></li>
                        {% endif %}
                </nav>
                
            </header>

            <main class="bloco_central">
                
                <div class="card_lista">
                    <p class="f_lista"> Lista dos Usuários do seu Group Admin:</p>
                    
                    <table class="f_tabela">
                        {% for item in r_list_user %}
                        <tr class="f_linha_tabela">
                            <td> ID: </td>
                            <td> {{ item.id_usuario }} </td>
                        </tr>
                        <tr>
                            <td> Nome: </td>
                            <td> {{ item.nome_pagador }}  </td>
                        </tr>    
                        <tr>
                            <td> Email:</td>
                            <td> {{ item.email_pagador }} </td>
                        </tr>
                        <tr>
                            <td> Apelido: </td>
                            <td> {{ item.display_pagador }} </td>
                        </tr>           
                        <br>
                        {% endfor %}                    
                    </table>
                    
                    
                </div>                           
                
            </main>

            
            <footer class="rodape-pagina">
                <div> 
                    <p><img src="../static/images/one9.webp" /></p>
                </div>
            </footer>
        
    </body>
</html>
