{% extends "base.html" %}
{% from "show_menu.html" import show_menu %}

{% block show_menu %}
    {{ show_menu(user,admin) }}
{% endblock %}

{% block principal %}
    <p class="f_lista"> Lista dos Usuários do seu Group Admin:</p>
    {% for item in r_list_user %}
        <table class="f_tabela">
            <tr class="f_linha_tabela">
                <td class="f_col1"> ID: </td>
                <td class="f_col2"> {{ item.id_usuario }} </td>
            </tr>
            <tr>
                <td class="f_col1"> Nome: </td>
                <td class="f_col2"> {{ item.nome_pagador }}  </td>
            </tr>    
            <tr>
                <td class="f_col1"> Email:</td>
                <td class="f_col2"> {{ item.email_pagador }} </td>
            </tr>
            <tr>
                <td class="f_col1"> Apelido: </td>
                <td class="f_col2"> {{ item.display_pagador }}</td>
            </tr>           
        </table>
    {% endfor %}                    
{% endblock %}