{% extends "base.html" %}
{% from "show_menu.html" import show_menu %}

{% block show_menu %}
    {{ show_menu(user,admin) }}
{% endblock %}

{% block principal %}
    <img src="../static/images/logo_cafe.jpg" />
    <form action="/cafe_inserir" method="POST" class="f_form">
        <div>
            <select class= "f_display" id="v_id" name="v_id">
                {% for item in r_lista_usuarios %}
                    <option class="f_display" value={{item.id_usuario}}> {{ item.display_pagador }}</option>
                {% endfor %}
            </select>                                  
        </div>
        <div>
            <input type="number" id="v_quantidade" name="v_quantidade" class="f_quantidade" min="1" max= "10" value="1" />
        </div>
        <div class="c_butao">
            <br>
            <button type="submit" class="f_butao"> PAGAR </button>
        </div>
    </form>  
{% endblock %}











