<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
{% from "condominio_menu.html" import condominio_menu %}

<html lang="pt-br">

<head>
    <title> One9 Group </title>
    <meta charset="utf-8">
    <meta name="author" content="Fabio Tavares">
    <meta name="description" content="Pagina de Aplicativos: Fabio Tavares">
    <meta name="keywords" content="html5, tecnologia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilo_gincana.css">
</head>
    
<body>
    <header class="topo-pagina">
        {% block condominio_menu %}
            {{ condominio_menu(user,admin) }}
        {% endblock %}
        <p class="logo"><img src="../static/images/one9.webp" /></p>
    </header>    
    
    <main class="bloco-principal">
        
        <h1>Detalhe do Morador</h1>

        <div class="bloco-tabela-moradores">
            <div class="bloco-p1">             
                <span class="f-titulo-morador-a"> {{ r_detalha['andar'] ~ r_detalha['apto'] }}:  </span> 
                <span class="f-titulo-morador-b"> {{ r_detalha['apelido'] }} </span> 
                <p class="f-img-morador"><img src="../static/imagens/{{ r_detalha['foto'] }}" /></p>
                <p class="f-nome-morador"> {{ r_detalha['nome'] }} </p>
                <p class="f-proprietario-morador"> ({{ r_detalha['tipo'] }}) </p>            
                <p> Email: {{ r_detalha['email'] }} </p>
                <p> Telefone: {{ r_detalha['telefone'] }} </p>
                <p> Nascimento: {{ r_detalha['nascimento'] }} </p>
                <p> Filhos? {{ r_detalha['filhos'] }} </p>
                <p class="f-morador-sobre"> Sobre: </p>
                <p> {{ r_detalha['sobre_voce'] }} </p>
                <p class="f-morador-sobre"> Minha Família: </p>
                <p> {{ r_detalha['sobre_familia'] }} </p>
            </div>
        </div> 
                
    </main>

</body>

</html>
