<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">

    <head>
        <title> One9 Group </title>
        <meta charset="utf-8">
        <meta name="author" content="Fabio Tavares">
        <meta name="description" content="Pagina de Aplicativos Fabio Tavares">
        <meta name="keywords" content="html5, tecnologia">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../static/css/estilo_cafe.css">
    </head>

    <body>
        <table class="f_tabela">
            <tr class="f_linha_tabela">
                <td class="f_col1"> ID: </td>
                <td class="f_col2"> Fabio de Mendonca Tavares </td>
            </tr>
            <tr>
                <td> Nome: </td>
                <td> Fabio de Mendonca Tavares </td>
            </tr>    
            <tr>
                <td> Email:</td>
                <td> Fabio de Mendonca Tavares </td>
            </tr>
            <tr>
                <td> Apelido: </td>
                <td> Fabio de Mendonca Tavares </td>
            </tr>           
        </table>
        
    </body>
</html>
