<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">

    <head>
        <title> One9 Group </title>
        <meta charset="utf-8">
        <meta name="author" content="Fabio Tavares">
        <meta name="description" content="Pagina de Aplicativos Fabio Tavares">
        <meta name="keywords" content="html5, tecnologia">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../static/css/top_estilo_cafe.css">
    </head>

    <body>

<main>      
    {%  set v_id7 = 6 %}
    {%  set v_id8 = 6 %}
    <h1> Teste de Parametro </h1>
    <p> <a href="/teste?id={{ v_id7 }}"> teste passando parametro 7 </a> </p>
    <p> <a href="/teste?id={{ v_id8 }}"> teste passando parametro 8 </a> </p>
    
    <p> <a href="/"> teste passando parametro 0 </a> </p>
    
</main>
        
    </body>
</html>
