<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Menu Dropdown Horizontal - Linha de Código</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="../static/css/estilo_teste.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->   
</head>
<body>
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Show navigation</a>
        <a href="#" title="Hide navigation">Hide navigation</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/" aria-haspopup="true">Blog</a>
                <ul>
                    <li><a href="/">Design</a></li>
                    <li><a href="/">HTML</a></li>
                    <li><a href="/">CSS</a></li>
                    <li><a href="/">JavaScript</a></li>
                </ul>
            </li>
            <li>
                <a href="/" aria-haspopup="true">Work</a>
                <ul>
                    <li><a href="/">Web Design</a></li>
                    <li><a href="/">Typography</a></li>
                    <li><a href="/">Front-End</a></li>
                </ul>
            </li>
            <li><a href="/">About</a></li>
        </ul>
    </nav>
</body>
</html>