<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">

    <head>
        <title> One9 Group </title>
        <meta charset="utf-8">
        <meta name="author" content="Fabio Tavares">
        <meta name="description" content="Pagina de Aplicativos Fabio Tavares">
        <meta name="keywords" content="html5, tecnologia">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../static/css/top_estilo_cafe.css">
    </head>

    <body>

<main class="bloco-principal">      

    <img src="../static/images/logo_cafe.jpg" />
    
    <form action="/cafe_inserir" method="POST" class="f_form">
        <div>
            <select class= "f_display" id="v_id" name="v_id">
                {% for item in r_lista_usuarios %}
                    <option class="f_display" value={{item.id_usuario}}> {{ item.display_pagador }}</option>
                {% endfor %}
            </select>                                  
        </div>
        <div>
            <input type="number" id="v_quantidade" name="v_quantidade" class="f_quantidade" min="1" max= "10" value="1" />
        </div>
        <div class="c_butao">
            <br>
            <button type="submit" class="f_butao"> PAGAR </button>
        </div>
    </form>  
    
</main>
        
    </body>
</html>
